img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

* {
    font-family: "Open Sans";
    color: #2d3c49;
}

.grey {
    color: #7d97ad;
}

.udacityblue {
    color: #02b3e4;
}

@media (min-width: 800px) {
    .wrapper {
        display: flex;
        padding: 7%;
    }
}

main {
    flex: 4;
    order: 2;

}

header {
    width: 100%;
}

.logo {
    /* set maximum size for logo to approximate the pdf at "actual size", let it scale smaller if required */
    max-width: 110px;
    max-height: 110px;
}

h1 {
    text-align: right;
    text-transform: uppercase;
}

h2 {

}

h3 {
    text-transform: uppercase;
}

h4 {
    text-align: right;
    text-transform: uppercase;
}

hr {

}

.banner {
    width: 100%;
}

.articles {
    display: flex;
}

.thumbnail {

}

.worklink {

}

aside {
    flex: 1;
    order: 1;
}

.swatch {

}

.square {
    max-width: 100px;
    max-height: 100px;
}

p {

}

footer {

}