img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

* {
    color: #2d3c49;
}

.grey {
    color: #7d97ad;
}

.udacityblue {
    color: #02b3e4;
}

main {

}

header {

}

.logo {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

hr {

}

.banner {

}

.thumbnail {

}

.worklink {

}

.sidebar {

}

.swatch {

}

.square {

}

p {

}

footer {

}