@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

* {
    font-family: "Open Sans", sans-serif;
    --default: #2d3c49;
    --highlight: #7d97ad;
    --corporate: #02b3e4;
    color: var(--default);
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 2.25em;
    color: var(--highlight);
    margin-bottom: 0.25em;
}

h3 {
    font-size: 1.9em;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 0;
}

a {
    color: var(--default);
}
.worklink {
    font-size: 0.65em;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.nameplate {
    flex: 1;
    text-align: right;
}

hr {
    border: none;
    background-color: var(--highlight);
    height: 0.25em;
    margin-bottom: 2em;
    min-width: 190px;
}

.banner {
    min-width: 190px;
}

article {
    text-align: center;
    padding-bottom: 3em;
}

.thumbnail {
    min-width: 190px;
}

.square {
    width: 100px;
    height: 100px;
}

.swatchtxt {
    font-size: 1.5em;
}

.corporate {
    background-color: var(--corporate);
}

.default {
    background-color: var(--default);
}

.highlight {
    background-color: var(--highlight);
}

/* TODO - find a way to pass variables into ::after like:
.corporate::after {
    content: var(--corporate);
}
*/

@media (min-width: 340px) {
    .header-content {
        display: flex;
    }
}

@media (max-width: 599px) {
    aside {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 600px) {
    .wrapper {
        margin-top: 4%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .full-width {
        display: flex;
    }

    .bulk {
        flex: 1;
        order: 2;
    }

    .sidebar {
        width: 100px;
        padding-right: 4em;
        order: 1;
    }

    .swatchtxt {
    text-align: right;
}
}

@media (min-width: 940px) {
    .articles {
        display: flex;
        justify-content: space-between;
    }
    article {
        width: 31.5%;
    }
    /* TODO - find a way to get URLs to scale down */
    .worklink {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 10px;
    }
}