img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

* {

}

.grey {

}

.udacityblue {

}

main {

}

header {

}

.logo {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

hr {

}

.banner {

}

.thumbnail {

}

.worklink {

}

.sidebar {

}

.swatch {

}

.square {

}

p {

}

footer {

}